body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (min-width: 500px) and (max-width: 600px) {
  .container-page{
    margin-top: 6%;
  }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .container-page{
    margin-top: 6%;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1600px) {
  .container-page{
    margin-top: 3%;
  }
}


